body{
  font-family: Arial, sans-serif;
}

h1 {
  color: purple;
  font-size: 30px;
  padding-left: 20px;
}

h1:hover {
  color: orange;
  font-size: 40px;
}

h2{
  color: rgb(102, 40, 131);
  padding-left: 20px;
}

p{
  text-align: justify;
  color: rgb(100, 100, 100);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  /*white-space: pre-line;*/
}

form,ul,button,a{
  margin-left: 20px;
}

#bear-photo {
  width: 250px;
}

.special {
  color: teal;
  font-size: 30px;
  border: 1px solid teal;
}

input[type="password"] {
  height: 50px;
  width: 100px;
}

.todo{
  font-size:30px;
  color: olive;
}

.done{
  color: gray;
  text-decoration: lin-through;
  opacity: 50%;
}
#boxes{
  display: flex; /*una manera relativamente facil de posicionar elementos en la pagina dividir el espacio.*/
  justify-content: center;
  align-items: center;
}
.box{
  width: 200px;
  height: 200px;
  /* margin-left: 20px; */
}
#header-color{
  text-align: center;
}