body{
    background-color: aliceblue;
}

h1,h2,p,a{
    margin-left:10px;
    font-family: "Open Sans", sans-serif;
    text-transform:uppercase;
    text-decoration: none;
}
a { 
    padding:10px;
    width: 47px;
    display: block;
    background-color:#ceb7c9;
    color: rgb(119, 119, 119);
    font-weight:400;
    font-size:15px;
    letter-spacing:1px;
}