.local{
    background-color: rgba(250, 20, 12, 0.486);
}
.invitado{
    background-color: rgb(80, 160, 1, 0.486);
}

li{
    list-style: none;
    text-align: justify;

}
.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: palevioletred;
    padding-left: 40px;
}

